.idea/
.vscode/

**/.gradle/
.DS_Store
build/
**/run/

**/*.iml

impl/aspaper-server/build.gradle.kts
impl/aspaper-server/src/minecraft/
impl/paper-server/
impl/aspaper-api/build.gradle.kts
impl/paper-api/
impl/paper-api-generator/
/impl/aspaper-server/.gradle/
