*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/
slimeworldmanager-test/
.DS_Store/
release.properties
libs/
.gradle/
build/
slimeworldmanager-api
slimeworldmanager-server
run
*.hprof
paper-api-generator